[submodule "syntax/start/vim-go"]
	path = syntax/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "theming/start/gruvbox"]
	path = theming/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
