" Set leader key
let mapleader = " "

" Common settings -------------------------
" Show the current mode (Insert, Replace, etc.) on the last line of the screen
set showmode

" Set the number of screen lines to keep above and below the cursor (scrolloff)
set so=5

" Show matches as you type the search query (incremental search)
set incsearch

" Ignore case in search patterns
set ignorecase

" Show line numbers
set number

" Show relative line numbers (relative to the current line)
set relativenumber

" Display incomplete commands in the bottom right of the screen
set showcmd

" Highlight the line where the cursor is located
set cursorline

" Enhanced command-line completion with a visual menu
set wildmenu

" Briefly jump to matching brackets [{()}] when entering a closing bracket
set showmatch

" Plugins  --------------------------------
" Enables easy surrounding of text with pairs like (), {}, "", etc.
set surround

" Allows multiple cursors and editing in multiple places simultaneously
set multiple-cursors

" Provides easy toggling of comments
set commentary

" Adds argument text objects, allowing easier navigation/editing within arguments
set argtextobj

" Makes moving within a document faster and more efficient
set easymotion

" Adds 'entire' text object, allowing selection of entire buffer or file
set textobj-entire

" Replace text with the contents of a register
set ReplaceWithRegister

" Easier split navigation
nnoremap <M-h> <C-w>h
nnoremap <M-j> <C-w>j
nnoremap <M-k> <C-w>k
nnoremap <M-l> <C-w>l

" Maps Alt-[H,J,K,L] to resizing a window split
" nnoremap <silent> <M-H> <C-w>5<
" nnoremap <silent> <M-J> <C-W>5-
" nnoremap <silent> <M-K> <C-W>5+
" nnoremap <silent> <M-L> <C-w>5>

" Mappings --------------------------------

" In normal mode, pressing <leader>y will yank the current line into the system clipboard
nnoremap <leader>y "+y

" In visual mode, pressing <leader>y will yank the highlighted selection into the system clipboard
xnoremap <leader>y "+y

" Start debugging process
map <leader>d <Action>(Debug)

" Attach debugger to a running process
map <leader>da <Action>(XDebugger.AttachToProcess)

" Stop the current process (e.g., debugging session)
map <leader>ds <Action>(Stop)

" Rename the element under the cursor (refactoring)
map <leader>r <Action>(RenameElement)

" Toggle distraction-free mode
" map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>z <Action>(ToggleZenMode)

" Select the current file in the project view
map <leader>f <Action>(SelectInProjectView)

" Annotate the current file with VCS history
map <leader>gb <Action>(Annotate)

" Show the version control history of the current file
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)

" Jump to the next error in the code
map <leader>e <Action>(GotoNextError)

" Jump to the previous error in the code
map <leader>E <Action>(GotoPreviousError)

" Toggle a line breakpoint for debugging
map <leader>b <Action>(ToggleLineBreakpoint)

" Show the file structure popup for easy navigation
map <leader>o <Action>(FileStructurePopup)
